/* SETTING GENERALI */
body{

    
    background-color: var(--whiteCustom);

}

header{

    overflow-x: hidden;

}

section{

    overflow-x: hidden;

}

/* FONTS SET */

*{

    font-family: 'Jost', sans-serif;

}

h1, h2, h3, .h1, .h2, .h3{

    font-family: 'Poppins', sans-serif;

}


/* COLOUR SET */

:root{

    --primary: rgb(255, 96, 0);
    --secondary: rgb(38, 42, 86);
    --accent: rgb(184, 98, 27);
    --whiteCustom: rgb(249, 245, 235);
    --blackCustom: rgb(21, 21, 33);

}


/* COLOUR CLASS */

.text-primaryC{

    color: var(--primary);

}

.text-secondaryC{

    color: var(--secondary);

}

.text-accentC{

    color: var(--accent);

}

.text-whiteC{

    color: var(--whiteCustom);

}

.text-blackC{

    color: var(--blackCustom);

}


/* COLOUR BG CLASS */

.background-primaryC{

    background-color: var(--primary);

}

.background-secondaryC{

    background-color: var(--secondary);

}

.background-accentC{

    background-color: var(--accent);

}

.background-whiteC{

    background-color: var(--whiteCustom);

}

.background-blackC{

    background-color: var(--blackCustom);

}

/* HEADER */

.headerCustom{

   background:linear-gradient(rgba(21, 21, 33, 0.4), rgba(21, 21, 33, 0.8)), url('./media/Header.jpg'); 
   background-position: center;
   background-size: cover;

}

.logoCustom{
    
    width: 60px;
    transition: 0.4s;

}

.myLink{

    color: var(--whiteCustom); 

}

a:hover{

    color: var(--whiteCustom)!important;

}

.btnCustom{

    background-color: var(--primary);
    color: var(--blackCustom);
    transition: 0.5s;

}

.btnCustom:hover{

    background-color: rgba(21, 21, 33, 0.1);
    color: var(--primary);

}

#navIcon{

    transition: 0.5s;

}

#mainNavbar{

    transition: 0.4s;

}

/* SECTION AOS */

.imgWorld{

    width: 100%;
    height: 100%;

}

.incrementNumbers{

    color: var(--primary);
    font-weight: bold;

}

/* SECTION SWIPER */
.swiper {
    width: 100%;
    height: 80%;
}

.cardCustom{

    height: 60%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--whiteCustom);

}

/* SECTION MOUSE ENTER */

.col-custom{

    border: 2px solid var(--secondary);
    border-radius: 10px;
    color: var(--secondary);
    text-align: center;
    padding: 20px; 
    
    transition: 0.4s;

}

.col-custom:hover{

   background-color: var(--secondary); 
   color: var(--primary);
   transform: scale(1.1);

}

/* FOOTER */

.min-h{

    min-height: 50px;

}
















